* {
    font-family:  'Belleza', Arial, sans-serif;
    font-weight: normal;
    margin: 0;
}


:root {
    --blue: #93aac2;
    --lighter-blue: #c3d5e9;
    --red:  #732929;
    --lighter-red:  #c08c8c;

    --milky:  #e5dede;

}

nav{
    display: flex;
    justify-content: space-between;
    margin: 4% 4%;
    width: 92%;
    height: 5%;
    position:sticky;
    flex-grow: 1;
}
.site-title {
    color: var(--milky);
}
#name {
    font-size: 1.2em;
    color: var(--milky);

}
#name-title {
    font-size: 0.6em;
}
#name:visited {
    color: var(--milky);
}
#name:active {
    color: var(--milky);
}


body {

    /* background-image: url("/Users/sam/Desktop/CodeProjects/Portfolio/Back-resume.jpg"); */
    filter: blur(30);
    background-position: right 0px bottom 0px;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: black;
    overflow: scroll;
    border: 2px solid var(--milky);

}
.grid {
    padding: 5% 5%;
    display: grid;
    grid-template-rows: fit-content(300px) fit-content(300px) fit-content(300px) fit-content(300px);
    gap: 20px 10px;


}
header {
    grid-row: 1/2;
} 
.header-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 5px 5px;
}
.info {
    grid-column: 1/2;
    border-color: var(--milky);
    border-width: 2px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    font-size: 0.7em;

}
.info-container {
    position: relative;
    margin: auto auto;
    top: 40%;
    left: 20%;
    line-height: 1.6em;

}

.bio p {
    position: relative;
    width: 80%;
    margin: auto auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.prof-picture {

    grid-column: 2/3;

    display: inline-block;
    border: 3px dashed var(--milky);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    width: 80%;
    background-color:var(--red);
    margin: auto auto;


    /* position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 */


}
.prof-picture img {
    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: multiply;

}

.bio {
    grid-column: 3/4;
    /* border: 2px dashed var(--milky); */
    border-color: var(--milky);
    border-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: none;

} 

main {
    grid-row: 2/3;
}
.main-row {
    display: grid;
    height: 100%;
    grid-template: repeat(5, fit-content(300px))/ 1fr 3fr;
    gap: 10px 10px;
} 

.row-title {
    grid-column: 1/2;

}
.row-content {
    grid-column: 2/3;
}
.row-content h2 {
    font-size: 1em;
    font-weight: bold;
    color: var(--milky);
    padding: 0px 10px;
}
.row-content h2:hover {
    color: #93aac2;
}

.row-title h3{
    position: relative;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 10px;
    text-align: left;

    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: dashed;
    border-top: dashed;
    border-right: none;
    color: var(--milky);


}

.row-content p {
    padding: 0px 10px 15px 10px;
    color: var(--milky);
    opacity: 0.7;
}
.title-year {
    display: flex;
    color: var(--milky);
    justify-content: space-between;
}
.title-year h3 {
    border: 1px dotted white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 5px;
}
.responsiilities {
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 10px;
    color: var(--lighter-blue);
}

.skills {
    grid-row: 3/4;
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, fit-content(300px));
    gap: 10px 10px;
}

.development {
    grid-area: 1/1/3/2;
    color: var(--milky);

}


.design-skills {
    color:var(--lighter-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.design-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--lighter-red);
}
.dev-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--lighter-blue);
}
.dev-skills {
    color: var(--lighter-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.soft-skills {
    color: var(--milky);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: start;
}
.soft-skills h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid var(--milky);
}



#soft-title {
    border: 2px dashed var(--milky);
    border-bottom-style: none;
    margin: 3px 3px;

}
#hard-title {
    border: 2px solid var(--milky);
    border-bottom-style: none;

    margin: 3px 3px;


}


.development h1 {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: solid;
    border-top: solid;
    border-right: none;
    color: var(--milky);
}
.languages {
    /* grid-column: 2/3; */
    grid-area: 1 / 2 / 2 / 3;
    color: var(--milky);
    font-size: 0.8em;
    padding: 2px 5px;
}
.languages h1 {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 0px;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-top: dashed;
    border-right: dashed;
    color: var(--milky);
}
.fluency {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);

}
.lang-name{
    font-weight: bold;
    font-size: 0.9em;
    grid-area: 1/ 1/1/2;
    margin: 5px 5px;
    width: 50px;
}
.rectangle {
    grid-area: 1/ 2/1/6;
    border: 1px dashed var(--milky);
    border-radius: 20px;
    margin: 5px 5px;
    width: 100%;
    z-index: 3;

}
.level {
    grid-area: 1/ 6/1/7;
    margin: 5px 5px;
    text-align: right;
    font-size: 0.8em;

    width: 50px;
}
#farsi {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 100%;
}
#english {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 90%;
    opacity: 90%;
}
#italian {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 70%;
    opacity: 70%;
}
#german {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 65%;
    opacity: 65%;
}
#arabic {
    grid-area: 1/ 2/1/6;
    border-radius: 20px;
    margin: 5px 5px;
    background-color: #93aac2;
    width: 40%;
    opacity: 45%;
}


.interests {
    grid-area: 2 / 2 / 3 / 3;
    color: var(--milky);
    border: 2px solid var(--milky);

}
.interest-container {
    display: flex;
    flex-wrap: wrap;
}
.interests h1 {
    position: relative;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px;
    color: var(--milky);
}
.interests h3 {
    padding: 5px 5px;
    margin: 5px 5px;
    color: var(--milky);
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px dotted var(--milky);
}

footer {
    margin-top: 10%;
    grid-row: 4/5;
    color: var(--milky);
    border-radius: 10px;
    border-color: var(--milky);
    border-width: 2px;
    border-bottom: solid;
    border-left: none;
    border-top: dashed;
    border-right: none;

}
footer p {
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
    padding: 10px 10px;
    color: var(--milky);

}


a:visited{
    color: rgb(216, 216, 216);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(222, 222, 222);

}

a:active {
    color: lightsteelblue;
} 
